.carousel-inner {
  border-radius: 10px;
}

.header__container {
  position: relative;
  margin-top: 40px
}
.button__card, .btn__card{
  width: 100%;
  margin-top: 10px;
}
.card__title .card-title{
  font-weight: bold;
}
.card__info{
  margin-top: 20px;
}


/*@media (min-width: 576px) { ... }*/


@media (min-width: 768px) and (max-width: 1023px){
  .card__container{
    display: flex;
  }
  .card-title{
    font-size: 15px;
    margin-bottom: 0;
  }
  .card-text{
    display: none;
  }
  .card__info{
    margin: 0;
  }
  .button__card-chat{
    margin: 0;
  }
}

/*@media (min-width: 992px) { ... }*/

/*@media (min-width: 1200px) { ... }*/

/*@media (min-width: 1400px) { ... }*/
