<div class="grid wide create__container">
  <div class="row">
    <div class="col-md-6 row1__container">
      <div class="text__filed">
        <label class="inp" for="inp">
          <input id="inp" placeholder="&nbsp;" type="text">
          <span class="label">Họ và tên</span>
          <span class="focus-bg"></span>
        </label>
      </div>
      <div class="text__filed">
        <label class="inp" for="inp">
          <input id="inp" placeholder="&nbsp;" type="date">
          <span class="label">Ngày sinh</span>
          <span class="focus-bg"></span>
        </label>
      </div>
      <div class="text__filed">
        <label class="inp" for="inp">
          <input id="inp" placeholder="&nbsp;" type="text">
          <span class="label">Địa chỉ</span>
          <span class="focus-bg"></span>
        </label>
      </div>
      <div class="radio__container">
        <span>Giới tính</span>
        <div>
          <label class="radio__label">
            <input type="radio" name="radio" checked/>
            <span>Nam</span>
          </label>
        </div>
        <div>
          <label class="radio__label">
            <input type="radio" name="radio" checked/>
            <span>Nữ</span>
          </label>
        </div>
        <div>
          <label class="radio__label">
            <input type="radio" name="radio" checked/>
            <span>Khác</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 row2__container">
      <div class="text__filed">
        <label class="inp" for="inp">
          <input id="inp" placeholder="&nbsp;" type="text">
          <span class="label">Số điện thoại</span>
          <span class="focus-bg"></span>
        </label>
      </div>
      <div class="text__filed">
        <label class="inp" for="inp">
          <input id="inp" placeholder="&nbsp;" type="text">
          <span class="label">CMND/CCCD</span>
          <span class="focus-bg"></span>
        </label>
      </div>
      <div class="text__filed">
        <label class="inp" for="inp">
          <input id="inp" placeholder="&nbsp;" type="email">
          <span class="label">Email</span>
          <span class="focus-bg"></span>
        </label>
      </div>
    </div>
  </div>
</div>
