<div class="grid wide table__container">
  <table class="table">
    <thead>
    <tr>
      <td>STT</td>
      <td>Họ và tên</td>
      <td>Giới tính</td>
      <td>Địa chỉ</td>
      <td>Số điện thoại</td>
      <td colspan="3">chức năng</td>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td >1</td>
        <td>Họ và tên</td>
        <td>Giới tính</td>
        <td>Địa chỉ</td>
        <td>Số điện thoại</td>
        <td>Xoá</td>
        <td>Sửa</td>
        <td>Thông tin</td>
      </tr>
    </tbody>
  </table>
</div>
