<div class="grid wide table__container">
    <div>
        <div class="row">
            <div class="col-md-7 header__table">
                <h2>Danh sách lịch hẹn</h2>
            </div>
            <div class="col-md-5 header__table">
                <button class="btn btn-info btn-rounded" routerLink="/calendar/create" type="button"><i
                    class="fa-solid fa-pen-to-square"></i></button>
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
            <tr>
                <td>STT</td>
                <td>Ngày đặt lịch</td>
                <td>Giờ</td>
                <td>Trạng thái</td>
                <td>Người đặt</td>
                <td colspan="3">Chức năng</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calendar of calendars | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{calendar.cal_id}}</td>
                <td>{{calendar.cal_date}}</td>
                <td>{{calendar.hours.hours}}</td>
                <td>{{calendar.cal_status}}</td>
                <td>{{calendar.patient.pa_name}}</td>
                <td><a class="btn btn-warning" type="button"><i class="fa-solid fa-trash"></i></a></td>
                <td>
                    <a [routerLink]="['/calendar/update',calendar.cal_id]" class="btn btn-success" type="button"><i
                        class="fa-solid fa-circle-info"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="wide grid pagination__container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
